***Q1***
 List any five functions of the pandas library with execution:

1. read_csv()

In [3]:
import pandas as pd
df = pd.read_csv('palyer.csv')
print(df)

      Rk          Player Pos Age   Tm   G  GS    MP   FG  FGA  ...   FT%  ORB  \
0      1      Quincy Acy  PF  24  NYK  68  22  1287  152  331  ...  .784   79
1      2    Jordan Adams  SG  20  MEM  30   0   248   35   86  ...  .609    9
2      3    Steven Adams   C  21  OKC  70  67  1771  217  399  ...  .502  199
3      4     Jeff Adrien  PF  28  MIN  17   0   215   19   44  ...  .579   23
4      5   Arron Afflalo  SG  29  TOT  78  72  2502  375  884  ...  .843   27
..   ...             ...  ..  ..  ...  ..  ..   ...  ...  ...  ...   ...  ...
670  490  Thaddeus Young  PF  26  TOT  76  68  2434  451  968  ...  .655  127
671  490  Thaddeus Young  PF  26  MIN  48  48  1605  289  641  ...  .682   75
672  490  Thaddeus Young  PF  26  BRK  28  20   829  162  327  ...  .606   52
673  491     Cody Zeller   C  22  CHO  62  45  1487  172  373  ...  .774   97
674  492    Tyler Zeller   C  25  BOS  82  59  1731  340  619  ...  .823  146

     DRB  TRB  AST  STL BLK  TOV   PF   PTS
0    222  301   68   27  22   60  147   398
1     19   28   16   16   7   14   24    94
2    324  523   66   38  86   99  222   537
3     54   77   15    4   9    9   30    60
4    220  247  129   41   7  116  167  1035
..   ...  ...  ...  ...  ..  ...  ...   ...
670  284  411  173  124  25  117  171  1071
671  170  245  135   86  17   75  115   685
672  114  166   38   38   8   42   56   386
673  265  362  100   34  49   62  156   472
674  319  465  113   18  52   76  205   833

[675 rows x 30 columns]

2.head():

In [4]:
df.head()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035

3.tail():

In [6]:
df.tail()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

4.info();

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 30 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Rk      675 non-null    object
 1   Player  675 non-null    object
 2   Pos     675 non-null    object
 3   Age     675 non-null    object
 4   Tm      675 non-null    object
 5   G       675 non-null    object
 6   GS      675 non-null    object
 7   MP      675 non-null    object
 8   FG      675 non-null    object
 9   FGA     675 non-null    object
 10  FG%     673 non-null    object
 11  3P      675 non-null    object
 12  3PA     675 non-null    object
 13  3P%     594 non-null    object
 14  2P      675 non-null    object
 15  2PA     675 non-null    object
 16  2P%     671 non-null    object
 17  eFG%    673 non-null    object
 18  FT      675 non-null    object
 19  FTA     675 non-null    object
 20  FT%     650 non-null    object
 21  ORB     675 non-null    object
 22  DRB     675 non-null    object
 23  TRB     675 non-null    object
 24  AST     675 non-null    object
 25  STL     675 non-null    object
 26  BLK     675 non-null    object
 27  TOV     675 non-null    object
 28  PF      675 non-null    object
 29  PTS     675 non-null    object
dtypes: object(30)
memory usage: 158.3+ KB

5.describe():

In [10]:
df.describe()

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
count,675,675,675,675,675,675,675,675,675,675,...,650,675,675,675,675,675,675,675,675,675
unique,493,493,12,21,32,84,81,557,327,458,...,275,165,293,350,249,119,98,177,214,463
top,Rk,Player,SG,23,TOT,82,0,MP,FG,FGA,...,.500,1,DRB,TRB,AST,0,0,TOV,PF,PTS
freq,24,24,145,86,76,27,179,24,24,24,...,29,30,24,24,24,29,88,24,24,24

***Q2***

In [12]:
import pandas as pd

def reindex_dataframe(df):
    new_index = range(1, len(df)*2+1, 2)
    df_reindexed = df.set_index(pd.Index(new_index))  
    return df_reindexed

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
df_reindexed = reindex_dataframe(df)
print(df_reindexed)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

***Q3***

In [13]:
import pandas as pd

def calculate_sum(df):
    sum_values = 0
    for index, row in df.iterrows():
        if index < 3: 
            sum_values += row['Values']
    print("Sum of the first three values:", sum_values)
    
df = pd.DataFrame({'Values': [10, 20, 30, 40, 50]})
calculate_sum(df)

Sum of the first three values: 60

***Q4***

In [15]:
import pandas as pd

def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

df = pd.DataFrame({'Text': ['Hello, how are you?', 'I am doing well.', 'Python is great!']})
df_with_word_count = add_word_count(df)
print(df_with_word_count)

                  Text  Word_Count
0  Hello, how are you?           4
1     I am doing well.           4
2     Python is great!           3

***Q5***

DataFrame.size:
     The size attribute of a DataFrame returns the total number of elements in the DataFrame.
     
     Example:

In [17]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.size)

6

DataFrame.shape:
    The shape attribute of a DataFrame returns a tuple that represents the dimensions of the DataFrame.
    
    example:

In [18]:
import pandas as pd

df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
print(df.shape)

(3, 2)

***Q6***

read_excel()

***Q7***

In [24]:
import pandas as pd

def username(df):
    df['Username'] = df['Email'].str.split('@').str[0]
    return df
df = pd.DataFrame({'Email': ['bishal.jana@example.com', 'ankurmondol@example.com']})
df = username(df)
print(df)

                     Email     Username
0  bishal.jana@example.com  bishal.jana
1  ankurmondol@example.com  ankurmondol

***Q8***

In [25]:
import pandas as pd
def select_rows(df):
    selected_rows = df[(df['A'] > 5) & (df['B'] < 10)]
    return selected_rows
df = pd.DataFrame({'A': [3, 8, 6, 2, 9],
                   'B': [5, 2, 9, 3, 1],
                   'C': [1, 7, 4, 5, 2]})

selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

***Q9***

In [26]:
import pandas as pd

def calculate_stats(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_value = df['Values'].std()
    return mean_value, median_value, std_value
df = pd.DataFrame({'Values': [1, 2, 3, 4, 5]})
mean, median, std = calculate_stats(df)
print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std)

Mean: 3.0
Median: 3.0
Standard Deviation: 1.5811388300841898

***Q10***

In [28]:
import pandas as pd

def calculate_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7, min_periods=1).mean()
    return df
df = pd.DataFrame({'Date': ['2023-07-01', '2023-07-02', '2023-07-03', '2023-07-04', '2023-07-05', '2023-07-06', '2023-07-07', '2023-07-08', '2023-07-09', '2023-07-10'],
                   'Sales': [10, 12, 15, 18, 20, 22, 19, 16, 14, 11]})
df['Date'] = pd.to_datetime(df['Date'])

df = calculate_moving_average(df)
print(df)

        Date  Sales  MovingAverage
0 2023-07-01     10      10.000000
1 2023-07-02     12      11.000000
2 2023-07-03     15      12.333333
3 2023-07-04     18      13.750000
4 2023-07-05     20      15.000000
5 2023-07-06     22      16.166667
6 2023-07-07     19      16.571429
7 2023-07-08     16      17.428571
8 2023-07-09     14      17.714286
9 2023-07-10     11      17.142857

***Q11***

In [31]:
import pandas as pd

def add_weekday_column(df):
    df['Weekday'] = df['Date'].dt.strftime('%A')
    return df
df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04', '2023-01-05']})
df['Date'] = pd.to_datetime(df['Date'])

df = add_weekday_column(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday

***Q12***

In [35]:
import pandas as pd

def select_rows_by_date(df):
    start_date = pd.to_datetime('2023-01-01')
    end_date = pd.to_datetime('2023-01-31')
    selected_rows = df[(df['Date'] >= start_date) & (df['Date'] <= end_date)]
    return selected_rows

df = pd.DataFrame({'Date': ['2023-01-01', '2023-01-15', '2023-01-31', '2023-02-10']})
df['Date'] = pd.to_datetime(df['Date'])

selected_df = select_rows_by_date(df)
print(selected_df)

        Date
0 2023-01-01
1 2023-01-15
2 2023-01-31

***Q13***

In [37]:
import pandas as pd

In the code above, import pandas imports the pandas library, and the as pd part provides an alias pd that is commonly used to reference the pandas library in the code.